/* reset + 기본 폰트 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #f9fafe;
  color: #333;
}
a { text-decoration: none; color: inherit; }
